.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 33, 44, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: .5s;
    z-index: 1;
}

.modal.active {
    transform: scale(1);
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 300px;
    min-height: 200px;
    padding: 25px 20px;

    color: #19212C;
    border-radius: 24px;
    background: #FFFFFF;
}

.deleteItemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 200px;
    border: 1px solid grey;


    color: #19212C;
    border-radius: 24px;
    background: #FFFFFF;
}

.deleteItemWrapperBtn {
    display: flex;
}

.deleteText {
    width: 210px;
    min-height: 56px;
    color: black;
}
