.cardItemWrapper {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-areas: "online img"
                         "title img"
                         "status time";
    grid-template-rows: 25px 125px 50px;
    grid-template-columns: minmax(200px, 1fr) minmax(100px, 1fr);

    align-items: center;
    align-self: center;
    justify-items: center;
    justify-self: center;

    padding: 15px;

    background: linear-gradient(180deg, #AB69FF 0%, #494BEB 100%);
    border-radius: 20px;
}

.cardItemTitle {
    grid-area: title;
    justify-self: left;
    /*width: 117px;*/
    /*height: 56px;*/

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #19212C;
}

.cardItemStatus {
    position: relative;
    grid-area: status;
    justify-self: left;
    padding: 5px 15px 5px 40px;

    background: #232198;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardItemStatusImg {
    position: absolute;
    top: calc(50% - 9px);
    left: 5px;
    width: 17px;
    height: 17px;
}

.cardItemStatus img {
    float: left;
}

.cardItemImg {
    grid-area: img;
    justify-self: center;
    align-self: center;
    /*margin: 0 auto;*/
}

.cardItemOnlineWrapper {
    grid-area: online;
    justify-self: left;
}

.cardItemOnline {
    position: relative;
    left: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.cardItemOnline:before {
    display: inline-block;
    position: absolute;
    content:'';
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: -17px;
    border-radius: 50%;
    background: #00FF0A;
}

.cardItemOffline {
    position: relative;
    left: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.cardItemOffline:before {
    display: inline-block;
    position: absolute;
    content:'';
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    left: -14px;
    border-radius: 50%;
    background: #FF0000;
}

.cardItemTimeWrapper {
    position: relative;
    grid-area: time;
    justify-self: right;
}

.cardItemTime:before {
    display: inline-block;
    position: absolute;
    content:url('../../img/Monochrome.svg');
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: -26px;
    border-radius: 50%;
    background: #00FF0A;
}

.trans {
    transition: all 1.8s;
}
